/* CONTAINER 1 */

.container-1 {
  color: #fff;
  background-image: linear-gradient(to bottom right, rgb(255, 0, 234), rgb(0, 81, 255));
  padding-bottom: 40px;
}

.container-1 a {
  color: #fff;
  font-weight: 500;
}

.container-1 label {
  color: #4e4e4e;
  font-weight: 400;
}

.topnav{
  background-image: linear-gradient(to bottom right, #ff00ea, #0051ff);
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}

.topnav a {
  color: #fff;
  font-weight: 500;
  margin: 0 20px;
}

.form-1 {
  background-color: #f2f2f2;
  max-width: 400px;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.container-1 {
  padding-top: 50px;
}

.container-1 h1 {
  line-height: 36px;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}

.container-1 p {
  text-align: center;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 50px;
}

.container-1 .arrow-down {
  display: flex;
  width: 40px;
  margin: 0 auto;
}