/* CONTAINER 4 */

.container-4 {
  padding: 40px 20px;
}

.container-4 h2 {
  display: flex;
  width: 100%;
  font-size: 1.8em;
  font-weight: 600;
  color: #2a2a2a;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding-left: 10px;
  border-left: 4px solid #0051ff;
}

.container-4 ul {
  list-style-type: none;
}

.container-4 ul li {
  background-color: #eee;
  border-radius: 20px;
  margin: 0 auto;
  width: 280px;
  margin-bottom: 40px;
  box-shadow: #7b7b7b 1px 1px 20px;
  padding-bottom: 20px;
}

.container-4 ul li img {
  display: flex;
  width: 100%;
  max-width: 400px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.container-4 ul li .text-area {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.container-4 ul li .text-area h3 {
  text-transform: uppercase;
  color: #2a2a2a;
  margin-bottom: 20px;
}

.container-4 ul li .text-area p {
  background-color: #f8f8f8;
  height: 200px;
  overflow: auto;
  scrollbar-color: #0051ff;
  border-radius: 10px;
  padding: 5px;
  text-transform: lowercase;
  color: #7b7b7b;
}

.container-4 ul li button {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom right, rgb(255, 0, 234), #0051ff);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  width: 80%;
  border: 1px solid #ccc;
  margin: 14px auto;
  padding: 10px;
  border-radius: 10px;
}

.container-4 ul li button:hover {
  background-image: linear-gradient(to bottom right, rgb(0, 255, 60), rgb(0, 255, 47));
}

.container-4 .arrow-down {
  display: flex;
  width: 40px;
  margin: 0 auto;
  margin-top: 40px;
}
