* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

input[type=email]::selection {
  background-color: red;
}

input[type=email],
input[type=tel],
input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email]:focus::placeholder, input[type=tel]:focus::placeholder, input[type=text]:focus::placeholder {
  color: #fff;
}

input[type=email]:focus ,input[type=tel]:focus ,input[type=text]:focus {
  background-image: linear-gradient(to bottom right, rgb(255, 0, 234), rgb(0, 81, 255));
  color: #fff;
}

input[type=submit] {
  background-image: linear-gradient(to bottom right, rgb(255, 0, 234), rgb(0, 81, 255));
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 14px 0;
  padding: 10px;
  transition: 0.2s;
}

input[type=submit]:hover {
  background-image: linear-gradient(to bottom right, rgb(0, 255, 60), rgb(0, 255, 47));
}

