
@media screen and (max-width: 568px) {
  .container-2 {
    display: flex;
    flex-direction: column;
  }

  .container-2 img {
    margin-bottom: 40px;
  }

  .container-2 .arrow-down img{
    filter: invert(50%) sepia(100%) saturate(425%) hue-rotate(153deg) brightness(96%) contrast(99%);
  }
}

@media screen and (max-width: 400px) {
  .form-1 {
    border-radius: 0;
  }

  .container-1 p {
    font-size: 0.9em;
  }
}