* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', Arial, Helvetica, sans-serif;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

a {
  text-decoration: none;
}

input[type=email]::selection {
  background-color: red;
}

input[type=email],
input[type=tel],
input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email]:focus::placeholder, input[type=number]:focus::placeholder {
  color: #fff;
}

input[type=email]:focus {
  background-image: linear-gradient(to bottom right, rgb(255, 0, 234), rgb(0, 81, 255));
  color: #fff;
}

input[type=submit] {
  background-image: linear-gradient(to bottom right, rgb(255, 0, 234), rgb(0, 81, 255));
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  border: 1px solid #ccc;
  margin: 14px 0;
  padding: 10px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* CONTAINER 1 */

.container-1 {
  color: #fff;
  background-image: linear-gradient(to bottom right, rgb(255, 0, 234), rgb(0, 81, 255));
  padding-bottom: 40px;
}

.container-1 a {
  color: #fff;
  font-weight: 500;
}

.container-1 label {
  color: #4e4e4e;
  font-weight: 400;
}

.container-1 .topnav{
  background-image: linear-gradient(to bottom right, #ff00ea, #0051ff);
  position: sticky;
  padding: 10px;
  top: 0;
  border-bottom: 1px solid #ccc;
}

.form-1 {
  background-color: #f2f2f2;
  max-width: 400px;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.container-1 h1 {
  line-height: 36px;
  font-size: 2em;
  margin-top: 50px;
  text-transform: uppercase;
  text-align: center;
}

.container-1 p {
  text-align: center;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 50px;
}

.container-1 .arrow-down {
  display: flex;
  width: 40px;
  margin: 0 auto;
}

/* CONTAINER 2 */

.container-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 100px;
  padding-bottom: 40px;
}

.container-2 .foto-perfil {
  display: flex;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
}

.container-2 .text-area {
  padding: 20px;
}

.container-2 .arrow-down {
  width: 40px;
  margin: 0 auto;
}

.container-2 h2 {
  font-size: 1.8em;
  color: #1f1f1f;
  border-left: 4px solid #ff00ea;
  padding-left: 4px;
}

.container-2 p {
  font-size: 0.9em;
  color: #3b3b3b;
}

.container-2 .text-area p, .container-2 .text-area h2 {
  margin-bottom: 20px;
}

.container-3 {
  display: grid;
}